/* GENERAL STYLES */

*,
*::before,
* ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

button {
	border: 0;
	cursor: pointer;
	border-radius: 5px;
}

input,
select {
	border: 0;
	padding: 1em;
	width: 100%;
	border-radius: 5px;
	background-color: white;
	outline: 2px solid #ddd;
	transition: 0.5s;
	height: 45px;
}

input:focus,
select:focus {
	outline: 2px solid #467ce2;
}

h4 {
	color: #aaa2b8;
}

label {
	font-weight: bold;
}

/* MAIN */

main {
	display: flex;
	height: 100%;
}

/* LEFT CONTENT */

.left-content {
	padding: 1em;
	display: grid;
	grid-template-rows: 50px 1fr;
	background-color: rgb(223, 250, 215);
}

.left-content-main {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2.5rem;
}

.logo img {
	max-height: 100%;
}

.hero-text {
	padding-top: 5rem;
	font-size: calc(1vw + 1vh + 1vmin);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #c9a269;
}

.hero-ice-cream-text {
	background: rgb(102, 95, 205);
	background: linear-gradient(
		90deg,
		rgba(102, 95, 205, 1) 0%,
		rgba(9, 121, 70, 1) 35%,
		rgba(29, 114, 131, 1) 100%
	);
	padding: 0.5em;
	border-radius: 5px;
	color: #f0abfc;
	font-size: calc(0.6vw + 0.6vh + 0.6vmin);
}

.get-started-cta {
	padding: 1em;
	width: 200px;
	background-color: #45e0ad;
	color: white;
	font-weight: bold;
	font-size: clamp(1rem, 1.5vw, 1.25rem);

	transition: 0.3s;
	margin-top: 1em;
	white-space: nowrap;
	max-width: 70%;
}

.get-started-cta:hover {
	opacity: 0.8;
}

.characters {
	width: clamp(100px, 75%, 500px);
}

/* RIGHT CONTENT */

.right-content {
	display: grid;
	align-items: center;
}

.sign-up-form {
	display: grid;
	padding: 1em;
	gap: 1em;
	justify-content: center;
}

.sign-up-form-text {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 1em;
}

.input-container {
	position: relative;
}

i {
	position: absolute;
	display: none;
	opacity: 0;
	top: 22.5px;
	right: 0;
	transform: translate(-50%, -50%);
	transition: 0.5s;
	font-size: 1.2rem;
}

.fa-circle-check {
	color: green;
}

.fa-circle-xmark {
	color: red;
}

.error-message {
	color: red;
	font-size: 0.85rem;
	padding-top: 0.5em;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}

/* SHOW PASSWORD */

.show-password-container {
	display: flex;
	gap: 0.5em;
	align-items: center;
	height: 20px;
}

.show-password-label {
	cursor: pointer;
	font-size: 0.9rem;
}

#show-password {
	cursor: pointer;
	width: 20px;
	outline: 0;
}

/* VALIDATION PSEUDO CLASSES */

input.invalid,
select.invalid {
	outline: 2px solid #f87171;
}

input.invalid + .error-message {
	visibility: visible;
	opacity: 1;
}

input.invalid ~ .fa-circle-xmark {
	display: block;
	opacity: 1;
}

input.valid ~ .fa-circle-check {
	display: block;
	opacity: 1;
}

.sign-up-button {
	padding: 1em;
	background-color: #45e0ad;
	font-weight: bold;
	font-size: 1rem;
	color: white;
	transition: 0.3s;
}

/* MODAL  */

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	height: 100%;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

.overlay.active {
	opacity: 1;
	pointer-events: all;
}

.icecream {
	width: 100%;
	object-fit: contain;
	border-radius: 5px;
}

@media (max-width: 1000px) {
	.left-content-main {
		display: none;
	}

	main {
		flex-direction: column;
	}
}
